.pg {
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 40vw;
    height: auto;
}

.footer-text {
    position: absolute;
    right: 15vw;
    bottom: 35vh;
    display: flex;
    gap: 50px;
    color: #999;
    font-size: 30px;
}

.footer-text .column {
    display: flex;
    flex-direction: column;
}

.footer-text h3 {
    margin: 0 0 55px 0;
    font-weight: bold;
    color: #777;
}

.footer-text ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-text li {
    margin-bottom: 35px;
}

.footer-ball {
    width: 10vw !important;
    height: auto !important;
    position: absolute !important;
    right: 0 !important;
    bottom: 0 !important;
}